<div class='pt-0 pb-12 md:pt-0 md:pb-20 bg-custom-background bg-cover bg-center'>
  <div class='pb-12 text-center md:pb-16'>
    <img src="/icon.png" alt="Icon" class="mx-auto mb-4">

    <h1 class='leading-tight mb-4 text-7xl font-extrabold tracking-tight md:text-8xl font-sans'>
      <span class='p-2 bg-gradient-to-r from-purple-600 to-blue-500 bg-clip-text text-transparent'>
        Living.DIY
      </span>
    </h1>
    <div class='mx-auto max-w-3xl'>
      <p class='mb-8 text-xl font-sans font-medium'>
        あなたの夢をカタチにする、理想の居住空間デザイン
      </p>
      <div class='flex justify-center mt-5'>
        <div class='mt-3'>
          <%= link_to products_path, class: 'group inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-purple-600 to-blue-500 p-0.5 font-medium text-gray-900 hover:text-white focus:ring-4 focus:ring-blue-300 group-hover:from-purple-600 group-hover:to-blue-500' do %>
            <span class='rounded-md bg-white px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 font-sans'>
              Find Products
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
